nav ul li:hover, aside ul a:hover {
    color: red;
    text-decoration: none;
    transform: scale(1.2);
}

main {
    padding-left: 2.5%;
    padding-top: 5%;
    width: 80%;
    float: left;
    height: 2000px;
}

main img {
    max-height: 400px;
    border-radius: 10%;
}

.textinside {
    margin: 2.5%;
}